.panel {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.panel__title {
    font-size: 20px;
}

.panel__multiselect {
    width: 50%;
}

.panel__button-block {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}