<div class="block">
    <p class="block__title">Выберите тип который хотите обновить и введите новое название</p>
    <dropdown-list [props]="dropdownListProps"></dropdown-list>
    <kendo-formfield>
        <kendo-textbox
            #create_input
            [(ngModel)]="newName">
        </kendo-textbox>
        <kendo-formhint></kendo-formhint>
        <kendo-formerror></kendo-formerror>
    </kendo-formfield>    
    <button kendoButton size="medium" themeColor="info" (click)="onClick()" class="block__button">Обновить</button>
</div>
