.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 13px;
}

.page__title {
    margin-top: 5px;
    font-size: 26px;
    margin-bottom: 15px;
}

.page__form {
    display: flex;
    flex-direction: column;    
}

.form__button {
    margin-top: 11px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}